.parent{
    position: relative;
}

.popup {
    position: absolute;
    z-index: 2;
    background: rgba(0,0,0,0.9);
    color: white;
    width: 500px;
    top: 0;
    left: 0;
    padding: 2rem;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s height;
}

.text {
    font-size: 1.4rem;
    font-weight: 600;
}
.icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}